<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Shift Table</title>
  <link href="../styles/style.css" , rel="stylesheet">
</head>

<body>
  <h1 class="text-3xl">help</h1>
  <h2 class="text-5xl">help</h2>
  <div id="loggedInArea">
    <h1 class="text-4xl">table ID: <%= data.tableID %>
    </h1>
    <h1 class="text-2xl">table ID: <%= data.tableID %>
    </h1>
  </div>
  </div>
  <script type="module" src="../auth.js"></script>
  <script type="module" src="../table.js"></script>
</body>

</html>